a {
  color: white;
  }

.signature {
  background-image: url(../../assets/img/Signature.svg);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #fff;
  padding: 20px;
  z-index: 40;
  /* margin: 6px; */
  border-bottom: 2px solid black;

}

.menu-name {
  font-family: "Alkatra", sans-serif;
  font-size: 20px;
  text-align: center;
  /* font-weight: bold; */
  line-height: 100%;
  color: black;
}

@media screen and (max-width: 768px) {
  .menu-name {
    font-size: 20px;
  }
}


.menu-toggle {
  display: none;
  cursor: pointer;
  
}

.menu-icon {
  width: 30px;
  height: 4px;
  margin: 5px 25px;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .menu-icon {
    margin: 5px 5px;
  }
}

.close-icon {
  font-size: 30px;
  margin: 5px 20px;
}
@media screen and (max-width: 768px) {
  .close-icon {
    margin: 5px 4px;
  }
}

.menu-list {
  display: none;
  position: absolute;
  width: 50%;
  top: 91px;
  /* left: 0; */
  right: 0;
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  background: white;
  /* margin: 0 3px; */
  font-size: 20px;
  z-index: -10;
color: rgb(0, 0, 0);
}
.menu-list a {
color: rgb(0, 0, 0);


}
.menu-list a:hover {
color: rgb(0, 0, 0);
border-bottom: 2px solid rgb(0, 0, 0);
animation: slide 0.5 ease-out;

}

@media screen and (max-width: 768px) {
  .menu-list {
  top: 80px;
  width: 100%;
  }
}

.menu-list.open {
  display: block;
  line-height: 150%;
  padding: 30px;
  animation-name: slide-down;
  animation-duration: 0.5s;
  z-index: -5;
}

@keyframes slide-down {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* .menu-list.close {

} */

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

