footer {
    bottom: 0%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  /* margin: 6px; */
  background: linear-gradient(#000000,#ffffff);

  width: 100%;
}
.logoFooter {
 
    height: 60px;
}
footer p {
    color: rgb(0, 0, 0);
    font-size: 15px;
}