footer {
  position: fixed;
    bottom: 0;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  /* margin: 6px; */
  background: white;
    border-top: 2px solid black;
  width: 100%;
  
}
.logoFooter {
 
    height: 60px;
}
footer p {
    color: rgb(0, 0, 0);
    font-size: 15px;
}